[

%% interlay_io
{eda,
    [{incomming_data_protocols, [
        % Async / Background Example
        {tcp_async_in,[
            {type, tcpv4},
            {cb_mod, il_io_tcpv4},
            {port, 9900},
            {num_acceptors, 1},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]},
        % Sync / ReqResp Example
        {tcp_sync_in,[
            {type, tcpv4},
            {cb_mod, il_io_tcpv4_req_resp},
            {port, 9901},
            {num_acceptors, 1},
            {socket_opts, [
                {packet, 2},
                {delay_send, false},
                {keepalive, true},
                {linger, {true, 1}},
                {show_econnreset, true},
                {active, once}
            ]}
        ]}
      ]},
      {outgoing_data_protocols, []}
    ]
 },

 %% interlay_work
 {queue_workers,
     [{data_sources, [
        %% Erlang memory database table queue
         {ets, [% Example 1
                [{table_name, example_ets_job_table},     % Ets table name to use
                 {worker_module, il_worker_mod}, % Worker module where to work is specified
                 {worker_count, 5}                        % number of workers allowed to read from table
                ]
         ]}
      ]}
 ]},

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}

].